thinking-modules>=0.0.4
thinking-runtime>=0.0.3
bidict>=0.23.1
frozendict>=2.4.4
type_intersections>=0.1.1
pydot>=3.0.2
tinydb==4.8.2
networkx==3.4.2
docker==7.1.0
setuptools==75.8.0
sqlalchemy==2.0.40
pymysql==1.1.1
bson==0.5.10